.block-container {
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

h1 {
    font-size: 72px !important;
    font-family: Georgia, serif;
    font-weight: 300;
}

.small-header {
    letter-spacing: 3px;
    font-size: 12px;
    color: #666666;
    font-style: italic;
}

/*
.description-box {
    background-color: #1E1E1E;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #444444;

    min-height: 350px;
    max-height: 650px;

    overflow-y: auto;
    line-height: 1.8;
}
*/

.description-box {
    background: rgba(20,20,20,0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px;

    box-shadow:
        0 8px 32px rgba(0,0,0,0.45);
}

.stButton > button {
    width: 100%;
    border-radius: 15px;
    width: 170px !important;
    height: 50px !important;
    padding: 5px !important;
    font-weight: bold;
    background-color: #bd5431;
    color: white !important;
    border: none;
}
.stButton > button:hover {
    background-color: #d6795a !important;
    color: white !important;
}

.stButton > button:active,
.stButton > button:focus {
    background-color: #bd5431 !important;
    color: white !important;
    box-shadow: none !important;
}

.stDownloadButton > button {
    width: 100%;
    border-radius: 15px;
    width: 170px !important;
    height: 50px !important;
    padding: 5px !important;
    font-weight: bold;
    background-color: #615652;
    color: white !important;
    border: none;
}

.stDownloadButton > button:hover{
    background-color: #9c827b !important;
    color: white !important;
}
.stDownloadButton > button:active,
.stDownloadButton > button:focus {
    background-color:#615652 !important;
    color: white !important;
    border: none !important;
}

hr {
    border: none;
    border-top: 1px solid #BBBBBB;
    margin-top: 10px;
    margin-bottom: 25px;
}

div[role="radiogroup"] label {
    font-size: 20px !important;
    padding: 5px !important;
    margin-right: 40px !important;
    width: 155px !important;
    height: 50px !important;

    display: flex !important;
    align-items: center;
    justify-content: center;

    background-color: #5d67c7;
    border-radius: 17px;
    border: none;
    color: white !important;
}

.main {
    background: transparent;
}

h1, h2, h3, p, label {
    color: white !important;
}

[data-testid="stFileUploaderDropzone"] {
    min-height: 50px !important;
    padding: 0.25rem !important;
}

[data-testid="stFileUploader"] {
    max-width: 400px !important;
}

[data-testid="stAlert"] {
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
}

[data-testid="stToolbar"] {
    display: none;
}

