.block-container {
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

h1 {
    font-size: 72px !important;
    font-family: Georgia, serif;
    font-weight: 300;
}

.small-header {
    letter-spacing: 3px;
    font-size: 12px;
    color: #666666;
}

.description-box {
    background-color: #1E1E1E;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #444444;

    min-height: 350px;
    max-height: 650px;

    overflow-y: auto;
    line-height: 1.8;
}

.stButton > button {
    width: 100%;
    border-radius: 15px;
    padding: 10px !important;
    font-weight: bold;
    background-color: #cc785c;
    color: white !important;
    border: none;
}
.stButton > button:hover {
    background-color: #f49a7b !important;
    color: white !important;
}

.stButton > button:active,
.stButton > button:focus {
    background-color: #cc785c !important;
    color: white !important;
    box-shadow: none !important;
}

.stDownloadButton > button {
    width: 100%;
    border-radius: 15px;
    padding: 10px !important;
    font-weight: bold;
    background-color: #96847e;
    color: white !important;
    border: none;
}

.stDownloadButton > button:hover,
.stDownloadButton > button:active,
.stDownloadButton > button:focus {
    background-color: #ad9189 !important;
    color: white !important;
    border: none !important;
}

hr {
    border: none;
    border-top: 1px solid #BBBBBB;
    margin-top: 10px;
    margin-bottom: 25px;
}

div[role="radiogroup"] label {
    font-size: 20px !important;
    padding: 10px !important;
    min-width: 150px;
    margin-right: 40px !important;

    background-color: #5960a1;
    border-radius: 17px;
    border: none;
    color: white !important;
}

/* Main content */
.main {
    background: transparent;
}

/* Text */
h1, h2, h3, p, label {
    color: white !important;
}

[data-testid="stFileUploaderDropzone"] {
    min-height: 50px !important;
    padding: 0.25rem !important;
}

[data-testid="stFileUploader"] {
    max-width: 400px !important;
}

[data-testid="stAlert"] {
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
}

[data-testid="stToolbar"] {
    display: none;
}

